html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-orange-400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

